.links {
    display: flex;
    gap: 0.8rem;
}

@media screen and (min-width: 1281px) {
    .links a:hover {
        color: var(--color-white);
        transform: var(--magnify-effect);
    }
}